name: "botAI"

data_loader:
  data_path: "./dataset.pgn"
  n_games: 10
  n_workers: 0

setup_args:
  resume: false   # checkpoint path (if true, set path in resume_path)
  resume_path: null
  device: "cpu"   # if gpu, set a value in n_gpu
  n_gpu: null
  logger: null

exp_args:
  type_exp: "train"   #type of experiment (train, test)
  batch_size: 8
  lr: 0.003    # learning rate
  epoch: 50
  eval_step: 10   # rate of evaluation step
  optimizer: "sgd"  # optimizer (sgd, adam)
  loss: "cross_ent"   # loss (mse, cross_ent)
  weight_decay: null
  dropout: null
  scheduler: "exp"

encoder:
  input_dim: 67    # input dimension of encoder
  latent_dim: 32   # dimension of encoded features
  type: "linear"   # (linear, conv)

decoder:
  output_dim: 4360 # output dimension of action space
  type: "linear"   # (linear)